[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/yaml"]
	path = vim/bundle/yaml
	url = https://github.com/ingydotnet/yaml-vim.git
[submodule "vim/bundle/localvimrc"]
	path = vim/bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "build"]
	path = build
	url = https://github.com/caarlos0/shell-travis-build.git
[submodule "tools/ps_mem"]
	path = tools/ps_mem
	url = https://github.com/pixelb/ps_mem.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/plugin/puppet"]
	path = vim/plugin/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/plugin/commentary"]
	path = vim/plugin/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/javascript-syntax"]
	path = vim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
