[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
